{% extends 'shop_app/base.html' %}

{% load static %}

{% block title_page %}
<title>Товар</title>
{% endblock %}


{% block content %}
<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{{ product.image.url }}" alt="First slide">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">${{ product.price }}</p>
                        <h3>{{ product.name }}</h3>
                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                        <!-- Avaiable -->
                        {% if product.available %}
                            <p class="avaibility"><i class="fa fa-circle"></i> В наличии</p>
                        {% endif %}
                    </div>

                    <div class="short_overview my-5">
                        <p>{{ product.description }}</p>
                    </div>

                    <!-- Add to Cart Form -->
                    {% if product.available %}
                        <form class="cart clearfix" action="{% url 'cart_add' product.id %}" method="post">
                            {{ cart_product_form.quantity }}
                            <input type="submit" value="Добавить в корзину">
                            {% csrf_token %}
                        </form>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Details Area End -->
{% endblock %}